In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

In [6]:
def d1(S,K,r,stdev, T):
    return (np.log(S/K) + (r + (stdev**2)/2)*T) / (S * np.sqrt(T))

In [8]:
def d2(S,K,r,stdev, T):
    return (np.log(S/K) + (r - (stdev**2)/2)*T) / (S * np.sqrt(T))

In [9]:
# returns the probability of data being less than 0.75
norm.cdf(0.75)

0.7733726476231317

In [21]:
def BSM(S,K,r,stdev,T):
    return (S * norm.cdf(d1(S,K,r,stdev,T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev,  T)))

In [39]:
ticker = 'PG'
data = pd.DataFrame()
data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2007-1-1', end='2017-3-21')['Adj Close']
data.head()

                   PG
Date
2007-01-03  43.147480
2007-01-04  42.819897
2007-01-05  42.452206
2007-01-08  42.545799
2007-01-09  42.438835

In [40]:
S = data.iloc[-1]
S

PG    82.690414
Name: 2017-03-21 00:00:00, dtype: float64

In [41]:
log_returns = np.log(data / data.shift(1))

In [48]:
std = log_returns.std() * (250 ** 0.5)

In [49]:
# common risk-free rate
r = 0.025
# assume the strike price is 110
K = 110
# Time horizon set to 1 year
T = 1

In [50]:
d1(S,K, r, std, T)

PG   -0.00296
dtype: float64

In [51]:
d2(S,K, r, std, T)

PG   -0.003337
dtype: float64

In [52]:
BSM(S,K,r,std,T)

PG   -12.251659
Name: 2017-03-21 00:00:00, dtype: float64