In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

/Users/shuran/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [7]:
tickers = ['PG', 'BEI.DE']
security_data = pd.DataFrame()
for ticker in tickers:
    security_data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2007-1-1')['Adj Close']

security_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.143341  39.576427
2007-01-04  42.815781  39.836281
2007-01-05  42.448109  39.017349
2007-01-08  42.541702  39.025219
2007-01-09  42.434750  38.143303

In [9]:
security_returns = np.log(security_data / security_data.shift(1)).dropna()
security_returns.head()

                  PG    BEI.DE
Date
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673

In [10]:
security_returns.std()

PG        0.011984
BEI.DE    0.013802
dtype: float64

In [11]:
# Calculate annualized standard deviation
security_returns.std() * np.sqrt(252)

PG        0.190234
BEI.DE    0.219092
dtype: float64